@import url(./components/header/header.css);
@import url(./appointmentsList.css);
@import url(./components/footer/footer.css);
@import url(./components/card/card.css);


:root {
  --primary-color: #532164;
  --secondary-color: #D2CAF4;
  --primary-button-color: #AAD276;
  --primary-button-hover: #74a139;
  --primary-button-active: #C9E0AB;
  --secondary-button-color: #FF0000;
  --secondary-button-active: #FB6060;
  --background-card-color: #FFF;
  --background-color: #F3F3F2;
  --font-color: #1B0F1B;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  font-family: "Inter";
  font-size: 1em;
}

main {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
  min-height: 90vh;
}

a {
  text-decoration: none;
  background-color: var(--text-color);
}

.main-button {
  width: 150px;
  height: 35px;
  background: var(--primary-button-color);
  border: 1px solid var(--primary-button-color);
  border-radius: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--background-card-color);
}

.secondary-button {
  width: 150px;
  height: 35px;
  background:var(--background-card-color);
  border: 1px solid var(--secondary-button-color);
  border-radius: 5px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--secondary-button-color);
  font-family: 'Inter';
}

.secondary-button:hover {
  background: var(--secondary-button-color);
  color: var(--background-card-color)
} 
 .secondary-button:active {
  background: var(--secondary-button-active);
 }  

.main-button:hover {
  background: var(--primary-button-hover);
  color: var(--background-card-color)
} 
 .main-button:active {
  background: var(--primary-button-active);
 } 

 .footer-container{
  background-color: var(--primary-color); 
  width: 100%;
  height:10vh;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0;
  left: 0;
} 

.footer-container img{
  width: 50px;
  padding: 10px;
}

.footer-container h3{
  font-size: 1em;
}