.card-list {
  display: grid;
  gap: 2rem;
  grid-auto-rows: 25rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.btn-float {
  border: 1px solid #FFF;
  border-radius: 100%;
  background-color: var(--primary-button-color);
  width: 57px;
  height: 57px;
  color: #FFF;
  font-size: 2rem;
  font-weight: bolder;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99999;
}
.btn-expanded {
  display: none;
}

@media (min-width: 552px) {
  .btn-expanded {
    width: 222px;
    height: 60px;
    background: #AAD276;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
  }

  .btn-expanded-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    color: #FFF;
  }

  .btn-float {
    display: none;
  }
}