/*Style of the different layers*/
main{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

label{
    display: flex;
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    font-style: bold;
    color: black;
    max-width: 100%;
    
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-family: monospace;
    background-color: #EFECFB; opacity: 100%;
    max-width: 100%;

}
.card-tittle{

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: monospace;
    background-color: #EFECFB; opacity: 100%;
    max-width: 100%;

}

.card-mb-3{
    border-radius: 1px;
    box-shadow: 0 10px 20px 0;
    margin-top: 320px;


}

.card-body{
    max-width: 260px;
    max-width: 380px;
   /* background-color: aqua; */


}
.card-dataa{

    max-width: 100%;

}


.saveButton{
    display: grid;
    grid-row: end;
    width:20px; 
    padding-top: 10px;
    margin-left: 200px;
    margin-top: -50px;
    
    
}
.cancellButton{
    display: grid;
    grid-row: start;
    width:80px;
    padding-top: -10px;
    margin-left: 80px;
    
    
}

input{

    font-family: monospace;
    background-color: rgb(251, 238, 255);
    max-width: 100%;

}

textarea {
    max-width: 100%;
}


